@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Тестовое задание ООО «Смарт-Сервис»</h1>
    <a asp-controller="Admin" asp-action="Index">Перейти на страницу выполнения скриптов</a>
</div>
